body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(26,6,0,1), rgba(26,6,0,1), rgba(26,6,0,.95), rgba(26,6,0,.85)), url(https://openclipart.org/image/400px/325903);
  background-size: 100px;
  color: white;
  font-family: 'Courier New', monospace;
  padding: 0px;
}

.textbg {
  margin: 0px auto;
  background: rgba(200,200,200,.2);
}

#content {
  width: 600px;
  height: 100%;
}

<!-- For mobile display -->
@media only screen and (min-device-width : 100px) and (max-device-width : 480px) and (orientation:portrait) {
  #content {
    width:95%;
    margin: auto;
  }
}

.title-div {
  width: 600px;
  height: 365px;
  margin: 0px;
  padding: 0px;
  background-image: url(assets/stain_cropped.png);
}

.title-name{
  font-size: 65px;
  font-family: 'Brush Script MT', cursive;
  font-style: oblique;
  margin-top: 0px;
}

.fit-in {
  max-width: 560px;
  object-fit: contain;
}

.description {
  padding: 20px;
}

.centered {
  text-align: center;
  width: 100%;
}

.blinktext {
  animation: blinker 1s linear infinite;
  font-weight: 900;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
