body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(26,6,0,1), rgba(26,6,0,.95) 50%, rgba(26,6,0,.75)), url(https://openclipart.org/image/400px/325903);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size = 14px;
}
